@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,700;1,400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}
a {
  text-decoration: none;
}

.container {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
p {
  font-size: 1.4rem;
  color: #000;
  line-height: 1.9rem;
  letter-spacing: 0.05rem;
  line-height: 2.5rem;
  font-weight: 300;
}
.section-title {
  text-align: center;
  font-size: 3rem;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  margin-bottom: 2rem;
}
.section-title span {
  color: crimson;
}
.cta {
  display: inline-block;
  padding: 0.5rem 1rem;
  color: crimson;
  background-color: transparent;
  border: 2px solid crimson;
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  margin-top: 3rem;
  transition: all 0.3s ease;
}

.cta:hover {
  color: #fff;
  background-color: crimson;
}
/* hero section */
#hero {
  position: relative;
  background-image: url(hero-bg.png);
  background-size: cover;
  z-index: 1;
}
#hero::after {
  content: "#";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.7;
  z-index: -1;
}
#hero .hero {
  max-width: 120rem;
  justify-content: flex-start;
  margin: 0 auto;
  padding-left: 3rem;
}
#hero h1 {
  display: block;
  width: fit-content;
  font-size: 2.5rem;
  color: transparent;
  text-transform: uppercase;
  position: relative;
  animation: text_reveal 0.5s ease forwards;
  animation-delay: 1s;
}
#hero h1:nth-child(1) {
  animation-delay: 1s;
}
#hero h1:nth-child(2) {
  animation-delay: 2s;
}
#hero h1:nth-child(3) {
  animation: text_reveal_name 0.5s ease forwards;
  animation-delay: 3s;
}

#hero h1 span {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0%;
  background-color: crimson;
  animation: text_reveal_box 1s ease;
  animation-delay: 1s;
}
#hero h1:nth-child(1) span {
  animation-delay: 0.5s;
}
#hero h1:nth-child(2) span {
  animation-delay: 1.5s;
}
#hero h1:nth-child(3) span {
  animation-delay: 2.5s;
}

/* End hero section */

/* Services section */
#services .services {
  flex-direction: column;
  max-width: 120rem;
  text-align: center;
  margin: 0 auto;
  padding-top: 2rem;
}

#services .service-top p {
  font-size: 1.4rem;
  font-weight: 300;
  margin-top: 0.5rem;
  line-height: 2rem;
  letter-spacing: 0.05rem;
}
#services .service-bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 5rem;
}

.icon {
  width: 5rem;
  height: 5rem;
}
.icon i {
  font-size: 4rem;
  width: 100%;
  height: 100%;
  color: white;
}
#services .service-item {
  flex-basis: 80%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  padding: 2rem 5%;
  background-image: url(img-1.png);
  background-size: cover;
  background-position: center center;
  border-radius: 1rem;
  text-align: left;
  margin: 1rem 5%;
  position: relative;
  z-index: 1;
}
#services .service-item::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(60deg, #29323c 0%, #29323c 100%);
  opacity: 0.8;
  z-index: -1;
  border-radius: 1rem;
}

#services .service-item h1 {
  font-size: 2rem;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 1rem;
}
#services .service-item p {
  color: #fff;
}

/*End Services section */

/* Projects section */
#projects .projects {
  display: flex;
  flex-direction: column;
  max-width: 120rem;
  margin: 0 auto;
  padding-top: 4rem;
}
#projects .project-header h1 {
  margin-bottom: 5rem;
}

#projects .all-projects {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#projects .project-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin: 2rem auto;
  border-radius: 1rem;
  overflow: hidden;
}
#projects .project-info {
  padding: 3rem;
  flex-basis: 50%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  background-image: linear-gradient(60deg, #29323c 0%, #29323c 100%);
  color: #fff;
}
#projects .project-info h1 {
  font-size: 2.8rem;
  font-weight: 500;
  color: #ffffff;
}
#projects .project-info h2 {
  font-size: 1.8rem;
  font-weight: 500;
  margin-top: 1rem;
  text-transform: capitalize;
}
#projects .project-info p {
  color: #fff;
}

#projects .project-img {
  flex-basis: 50%;
  width: 100%;
  height: 30rem;
  overflow: hidden;
  position: relative;
}
#projects .project-img img {
  width: 100%;
}
#projects .project-img::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(60deg, #29323c 0%, #29323c 100%);
  opacity: 0.7;
}
#projects .project-img img {
  transition: 0.3s ease transform;
}
#projects .project-item:hover .project-img img {
  transform: scale(1.1);
}
/*End Projects section */

/* About section */
#about .about {
  flex-direction: column-reverse;
  text-align: center;
  max-width: 120rem;
  margin: 0 auto;
  padding: 10rem 2rem;
}

.col-right {
  width: 100%;
}
.col-right h2 {
  font-size: 1.8rem;
  font-weight: 500;
  letter-spacing: 0.2rem;
  margin-bottom: 2rem;
}
.col-right p {
  margin-bottom: 2rem;
}
.col-right a {
  margin-bottom: 5rem;
  padding: 5px 10px;
  letter-spacing: 1px;
  font-size: 1.6rem;
}
#about .col-left .about-img {
  position: relative;
  width: 60vw;
}

#about .col-left .about-img img {
  width: 100%;
}

#about .col-left .about-img::after {
  content: "";
  position: absolute;
  left: -33px;
  top: 19px;
  height: 98%;
  width: 98%;
  border: 7px solid crimson;
  z-index: -1;
}
/* End about section */

/* Contact section */
#contact .contact {
  max-width: 120rem;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
#contact .contact-items {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#contact .contact-item {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 1rem;
  padding: 3rem;
  margin: 3rem;
  box-shadow: 0px 0px 18px 0px #0000002c;
  transition: 0.3s ease box-shadow;
}
#contact h2 {
  text-transform: uppercase;
  margin: 1rem;
  font-size: 2rem;
  font-weight: 550;
}

#contact .contact-icon {
  width: 3rem;
  height: 3rem;
}
#contact .contact-icon {
  font-size: 3rem;
}
#contact .contact-item:hover {
  box-shadow: 0px 0px 5px 0px #0000002c;
}
#contact .contact-item .address {
  text-transform: capitalize;
}
/* End contact section */

/* footer section */
#footer {
  background-image: linear-gradient(60deg, #29323c 0%, #29323c 100%);
}

#footer .footer {
  min-height: 20rem;
  display: flex;
  flex-direction: column;
  padding-top: 5rem;
  padding-bottom: 1rem;
}

#footer .footer-brand h1 {
  font-size: 2.5rem;
  color: #fff;
  text-transform: uppercase;
  margin: 1rem;
  font-weight: 600;
  letter-spacing: 2px;
}
#footer .footer-brand span {
  color: crimson;
}
#footer .footer-brand p {
  font-size: 1.6rem;
  font-weight: 500;
  text-transform: capitalize;
  letter-spacing: 1px;
  margin-bottom: 1rem;
  color: #fff;
}
#footer .footer-icon {
  display: flex;
}
#footer .social-icon {
  height: 5rem;
  width: 5rem;
  margin: 0 5px;
}
#footer .social-icon a i {
  font-size: 300%;
  color: #fff;
}

#footer p {
  color: #fff;
  font-size: 1rem;
}

/* End footer section */

/* Keyframs */
@keyframes text_reveal_box {
  50% {
    width: 100%;
    left: 0;
  }

  100% {
    width: 0;
    left: 100%;
  }
}
@keyframes text_reveal {
  100% {
    color: #fff;
  }
}
@keyframes text_reveal_name {
  100% {
    color: crimson;
  }
}
/* End key frams */

/* Media Queary for tablet */
@media only screen and (min-width: 768px) {
  #hero .hero {
    padding: 8rem;
  }
  .cta {
    font-size: 2.5rem;
    /* padding: 1.5rem 4rem; */
  }
  h1.section-title {
    font-size: 5rem;
  }
  /* Hero */
  #hero h1 {
    font-size: 4rem;
  }
  /*End Hero */

  /*services section  */
  #services .services {
    min-height: 0;
  }
  #services .service-bottom .service-item {
    flex-basis: 45%;
    margin: 2.5%;
  }
  /*End services section  */

  /* project section */
  #projects .projects {
    min-height: 0;
  }
  #projects .project-item {
    height: 40rem;
    width: 100%;
    flex-direction: row;
    margin: 0;
  }
  #projects .project-item:nth-child(even) {
    flex-direction: row-reverse;
  }
  #projects .all-projects .project-info {
    height: 100%;
  }
  #projects .all-projects .project-img {
    height: 100%;
  }
  /* End project section */
  /* about section */
  #about .about {
    flex-direction: row;
    height: auto;
    min-height: 0;
  }
  #about .about .col-left {
    height: 40rem;
    width: 30rem;
    padding-left: 4rem;
  }
  #about .about .about-img {
    width: 100%;
  }
  /* end about section */
  /* contact-section */
  #contact .contact {
    min-height: 0;
    padding: 5rem 0;
  }
  #contact .contact-items {
    flex-direction: row;
  }
  /* end contact-section */
}
/* End Media Queary for tablet */

/* media queary for desktop */
@media only screen and (min-width: 120rem) {
  #services .service-top {
    width: 60rem;
    margin: 0 auto;
  }

  #services .service-bottom .service-item {
    flex-basis: 22%;
    margin: 1.5%;
    padding: 1rem;
  }
}
/*end media queary for desktop */
